[user]
	email = arnaud.christ@gmail.com
	name = Arnaud Christ
[alias]
	lg = log --color --graph --pretty=format:'%cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	ll = log --color --graph --pretty=format:'%cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --all
